
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* h3 style */
.brand{
    /* margin: 30px; */
    font-weight: 700px;
    font-size: 3rem;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
}
main{
     margin: 130px;

}
main > section{
    padding: 80px 20px;
}

/* dark-02 */
.text-grey{
    color: #424242;
}
/* dark-3 */
.text-light-grey{
    color: #727272;
}
.cr-feature{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header related styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
     list-style: none;
     margin: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700px;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}
/* team feature related style */
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;

}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
      section.-title{
    font-size: 2.8rem;
    font-weight: 500px;
}
.teams{
    margin: 0 auto;
}

#Quick-list{
    font-weight: 500px;
}
/* responsive and media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-link,
    .teams{
        flex-direction: column;
    }
   .team-img-container{
    grid-template-columns: repeat(1,1fr);
   } 
   .our-features{
     margin-left: 20px;
   }
}
/* medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
   
}